
	@-webkit-keyframes pulse {
		from {  }
		50% { background-color: #FFFF66; -webkit-box-shadow: -2px -2px 18px #f9fca2; border-color: #f9fca2; }
		to { }
	}

	@-webkit-keyframes pulseButton {
		from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
		50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
		to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
	}

	button {
		font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif !important;
		border-radius: 5px;
		color: #FFF;
		background-color: #2DAEBF;
		padding: 8px 19px 9px;
		font-weight: bold;
		text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 1px;
		border: 0; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	}

	.spotlight {
		border: 2px solid yellow;
		box-shadow: -2px -2px 18px #f9fca2;
		background-color: #CCC;
		-webkit-animation-name: pulse;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
	}

	button.spotlight {
		background-color: #A6014A;
		border: 0;
		-webkit-animation-name: pulseButton;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
	}
