.moon-button {
	margin: 0px;
	width: 300px;
	border: 1px solid red;
	display: block;
	position: absolute;

	&.spotlight {
		background: orange;
	}
}

.big-item {
	width: 1000px;
	border: 1px solid blue;
}
